<div class = "factory_issue_container" id = "<%= issue.get('id') %>">
	<% if (is_checked) { %>
		<input class = "checkbox" type = "checkbox" name = "issue" id = "<%= issue.get('id') %>" checked />
	<% } else { %>
		<input class = "checkbox" type = "checkbox" name = "issue" id = "<%= issue.get('id') %>" />
	<% } %>
	<%= issue.get('title') %>
	<div class = "factory_image_container">
		<div class = "factory_image_wrapper">
			<% if (issue.get('thumbnail')) { %>
				<img src = "assets/issues/<%= issue.get('thumbnail') %>" height = "100%"/>
			<% } else { %>
				<img src = "assets/logos/black.png" width = "100%" />
			<% } %>
		</div>
	</div>
</div>