<div class = "popup wrapper">
	<div id = "popup" class = "pops-container">
		<div class = "pops-text">
			Good job! You just <%= achievement.get('kind').split('amount')[0] %> <%= amount %> <%= achievement.get('kind').split('amount')[1] %>!
		</div>
		<div class = "pops-thumbnail">
			<div class = "amount"><%= amount %></div>
			<img src = "assets/achievements/<%= achievement.get('thumbnail') %>" height = "100%" />
		</div>
		<div class = "pops-clickme">
			(click to dismiss)
		</div>
	</div>
</div>