<div class = "login-popup" id = "login_popup"></div>
<div class = "popup container" id = "achievables"></div>
<div class = "header container" id = "header"></div>
<div class = "loading_container inactive" id = "loading"></div>
<div class = "page"></div>
<div class = "background container">
	<div class = "background"></div>
</div>
<script type = 'text/json' id = 'json'>
	{
		"current_user": <%= current_user.to_json %>,
		"issues" : <%= Issue.all.to_json %>,
		"questions" : <%= Question.all.to_json %>,
		"quedits" : <%= Quedit.all.to_json %>,
		"answers" : <%= Answer.all.to_json %>,
		"facts" : <%= Fact.all.to_json %>,
		"fedits" : <%= Fedit.all.to_json %>,
		"sources" : <%= Source.all.to_json %>,
		"comments" : <%= Comment.all.to_json %>,
		"tasks" : <%= Task.all.to_json %>,
		"votes" : <%= Vote.all.to_json %>,
		"reputations" : <%= Reputation.all.to_json %>,
		"privileges" : <%= Privilege.all.to_json %>,
		"achievements" : <%= Achievement.all.to_json %>,
		"user_achievements" : <%= UserAchievement.all.to_json %>,
		"user_privileges" : <%= UserPrivilege.all.to_json %>
	}
</script>

<%= content_for :javascript do -%>
	<script type = 'text/javascript'>
		$(function() {
			var div, data;
			div = $('<div></div>');
			div.html($('#json').text());
			data = JSON.parse(div.text());
		
			Gangnam.init(data);
		});
	</script>
<% end %>