<div class = "picture">
	<div class = "picture-wrapper">
		<% if (user.get('is_temp_user')) { %>
			<img src = "assets/logos/blue.png" height = "100%" />
		<% } else { %>
			<% if (user.get('provider') === 'facebook') { %>
				<img src = "https://graph.facebook.com/<%= user.get('uid') %>/picture" height = "100%" />
			<% } else if (user.get('provider') === 'google') { %>
				<img src = "assets/logos/blue.png" height = "100%" />
			<% } else { %>
				<img src = "http://api.twitter.com/1/users/profile_image/<%= user.get('uid') %>?size=bigger" height = "100%" />
			<% } %>
		<% } %>
	</div>
</div>
<div class = "text">
	<div class = "name">
		<% if (user.get('is_temp_user')) { %>
			Anon
		<% } else { %>
			<%= user.get('name') %>
		<% } %>
	</div>
	<div class = "rank">
		<% if (rank.rank !== null) { %>
			Rank: <span class = "label"><%= rank.rank %> of <%= rank.users %></span>
		<% } else { %>
			Unranked
		<% } %>
	</div>
</div>